# -DATABASE_URL="mysql://root:password@localhost:3306/acc"

DATABASE_URL=mysql://avnadmin:AVNS_KhSxbpDE_0K0W0Ou2Lq@mysql-2d8e126c-pradum-61a2.k.aivencloud.com:10708/defaultdb?ssl-mode=REQUIRED
PORT=3000
AUTH_ENABLED=false
AUTH_USER=admin
AUTH_PASS=password
AUTH_SECRET=testsecret
