# DATABASE_URL="mysql://user:password@host:3306/acc"
# PORT=3000
# AUTH_ENABLED=true
# AUTH_USER=admin
# AUTH_PASS=admin
# AUTH_SECRET=secrettest



DATABASE_URL=mysql://avnadmin:AVNS_KhSxbpDE_0K0W0Ou2Lq@mysql-2d8e126c-pradum-61a2.k.aivencloud.com:10708/defaultdb?ssl-mode=REQUIRED
PORT=3000
AUTH_ENABLED=true
AUTH_USER=admin
AUTH_PASS=admin
AUTH_SECRET=testsecret